<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>anti-grav connect 4</title>
  </head>
  <body>
    {{#each, board}}
      {{#each, board[row]}}
        <div class="block">
        </div>
      {{/each}}
    {{/each}}
  </body>
</html>
